body {
	user-select: none;
	height: 100vh;
}

#appContainer {
	height: 100vh;
}

#logoText {
	font-size: 40px;
} 

input[type="text"], textarea {
	box-shadow:none !important;
}

img {
	pointer-events: none;
}